[Unit]
Description=Python Doorcam Software

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/git/doorcam/
ExecStart=/usr/bin/python3 /home/pi/git/doorcam/run.py